<div class="container">
  <h2 class="text-center">Edit Book</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="name" [(ngModel)]="book.bookName" placeholder="Name" name="bookName" class="form-control" id="bookName">
    </div>

    <div class="form-group">
      <label for="Publication">Publication:</label>
      <input [(ngModel)]="book.publication" placeholder="Publication" name="publication" class="form-control" id="publication">
    </div>

    <div class="form-group">
      <label for="publishedYear">Published Year:</label>
      <input [(ngModel)]="book.publishedYear" placeholder="Published Year" name="publishedYear" class="form-control" id="publishedYear">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input [(ngModel)]="book.price" placeholder="Price" name="price" class="form-control" id="price">
    </div>

    <button mat-raised-button color="primary" (click)="updateBook()">Submit</button>
  </form>
</div>
